<section class="block collaborators-count-block">
    <div class="collaborators-count">400</div>
    <div class="collaborators-description">Collaborateurs dans le monde</div>
</section>

<section class="block standard-block djerba-block">
    <div class="title-block xebia-title">Xebia
        <time datetime="2013-10-18">18 Oct 2013</time>
    </div>
    <div class="content-block">
        <h1>Nous étions à Djerba en Octobre&nbsp;!</h1>

        <div class="img">
            <div class="bottom-arrow"></div>
            <img src="images/blocks/img_djerba.png" alt="Plage à Djerba" class="illustration big-illustration"/>
        </div>
    </div>
</section>




<section class="block standard-block interview-luc-block">
    <div class="title-block xebia-title">Xebia
        <time datetime="2013-09-30">30 Sep 2013</time>
    </div>
    <div class="content-block">
        <img src="images/img_logo_alliance.png" alt="Xebia Alliance Logo"/>
        <blockquote>

            <p class="main">&laquo; L'alliance Xebia est un écosystème de sociétés complémentaires, liées par des
                relations
                capitalistiques.</p>

            <p>L'union de leurs compétences nous permet d'adresser l'intégralité des besoins de nos clients dans
                leurs projets les plus innovants.</p>

            <p>S'appuyant sur les technologies et des méthodologies d'avant garde, les membres de l'alliance Xebia
                partagent toutes un ADN commun&nbsp;: <strong>l'excellence</strong> &raquo;</p>

            <cite>Luc Legardeur</cite>
        </blockquote>

    </div>
</section>


