<section class="block collaborators-count-block">
    <div class="collaborators-count">400</div>
    <div class="collaborators-description">Collaborateurs dans le monde</div>
</section>

<section class="block standard-block">
    <div class="title-block xebia-title">Xebia
        <time datetime="2013-10-18">18 Oct 2013</time>
    </div>
    <div class="content-block">
        <h1>Nous étions à Djerba en Octobre&nbsp;!</h1>

        <div class="bottom-arrow"></div>
        <img src="images/blocks/img_djerba.png" alt="Plage à Djerba" class="illustration"/>
    </div>
</section>

<section class="block standard-block">
    <div class="title-block xebia-title">Xebia
        <time datetime="2013-11-28">28 Nov 2013</time>
    </div>
    <div class="content-block">
        <h1>Google Developer <br />Group Paris</h1>
        <h2>Le <time datetime="2013-11-28">28 Novembre 2013</time></h2>

        <div class="bottom-arrow"></div>
        <img src="images/blocks/img_GDG.png" alt="Logo GDG Paris" class="illustration"/>
    </div>
</section>