<h2><em>Mentions légales</em></h2>
<em class="subtitle">CGU & mentions légales : Xebia IT Architects / Github</em>
<hr>
<h3>Obligations relatives aux personnes morales et à l'hébergeur</h3>
<p>Conformément aux dispositions de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, nous vous informons que :</p>
<ul>
	<li>Le site internet <a href="{{siteUrl}}" title="Alliance Xebia" >http://www.alliance.xebia.fr</a> est édité par :</li>
	<li>Xebia IT Architects au capital de SAS euros.</li>
	<li>Numéro TVA intracommunautaire : FR 90 479 994 147</li>
	<li>Numéro SIRET : 479 994 147 000 11</li>
	<li>Siège social : 10/12 avenue de l'Arche 92400 Courbevoie</li>
	<li>Téléphone : 0153899999</li>
	<li>Email : <a href="mailto:communication@xebia.fr" title="adresse de contact">communication@xebia.fr</a></li>
	<li>Le directeur de la publication du site web <a href="{{siteUrl}}" title="Alliance Xebia" >{{siteUrl}}</a> est Xebia IT Architect.</li>
	<li>Ces mentions légales sont générées gratuitement par l'agence web DelAdmin.</li>
	<li>Le site {{siteUrl}} est hébergé par <br>Github, 4th Street, San Fransisco, CA, United States, <a href="https://github.com" title="Github">https://github.com</a></li>
</ul>