<section class="block standard-block thiga-associe-block">
    <div class="title-block thiga-title">Thiga
        <time datetime="2013-12-04">04 Dec 2013</time>
    </div>
    <div class="content-block">
        <h1>Nicolas Blaisot-Balette</h1>
        <h2>Rejoint Thiga en tant qu'associé&nbsp;!</h2>

        <div class="img">
            <div class="bottom-arrow"></div>
            <img src="images/blocks/img_associe_thiga.png" alt="Nicolas Blaisot-Balette, nouvel associé Thiga" class="illustration"/>
        </div>
    </div>
</section>
