<section class="block standard-block thiga-design-thinking-block">
    <div class="title-block thiga-title">Thiga
        <time datetime="2013-12-16">16 Dec 2013</time>
    </div>
    <div class="content-block">
        <h1>Thiga participe au meetup Design Thinking France</h1>
        <p class="main">
            En collaboration avec Franck Langevin (head of product management chez Mappy),
            Thiga a lancé le meetup Design Thinking France. Un des objectifs est de promouvoir la culture Design Thinking
            au sein des entreprises françaises.
        </p>

        <p>Le Design Thinking est une approche méthodologique et philosophique dédiée à accélérer l'innovation.</p>
        <p>Cette approche met à mal le muthe de l'innovation miraculeuse. Elle exploite les principes de l'empathie
            et de la user driven innovation et encourage la co-création.</p>

        <p class="end">Le premier meetup destiné à l'échange et au retour d'expérience s'est déroulé le lundi 16 décembre.</p>
    </div>
</section>
