<section class="block standard-block interview-luc-block">
    <div class="title-block xebia-title">Xebia
        <time datetime="2013-09-30">30 Sep 2013</time>
    </div>
    <div class="content-block">
        <img src="images/img_logo_alliance.png" alt="Xebia Alliance Logo"/>
        <blockquote>

            <p class="main">&laquo; L'alliance Xebia est un écosystème de sociétés complémentaires,
                expertes dans leur domaine, liées par des relations capitalistiques.</p>

            <p>L'union de leurs compétences nous permet d'adresser l'intégralité des besoins de nos clients dans
                leurs projets les plus innovants.</p>

            <p>S'appuyant sur les technologies et des méthodologies d'avant garde, les membres de l'alliance Xebia
                partagent toutes un ADN commun&nbsp;: l'excellence&nbsp;&raquo;</p>

            <cite>Luc Legardeur</cite>
        </blockquote>

    </div>
</section>


