<section class="block standard-block gptw-block">
    <div class="title-block xebia-title">Xebia
        <time datetime="2014-03-19">19 Mar 2014</time>
    </div>
    <div class="content-block">
        <img src="images/blocks/Img-GPTW-logo.png" alt="logo Great Place to Work" class="logo-gptw"/>
        <h1>5ème au great place to work</h1>
        <p>Pour les entreprises de moins de 500 salariés&nbsp;!</p>

        <div class="img">
            <div class="bottom-arrow"></div>
            <img src="images/blocks/Img-brique-GPTW.png" alt="Photo Xebia" class="illustration big-illustration"/>
        </div>
    </div>
</section>
