<!doctype html>
<html>
<head>
    <title>{{page.title}}</title>

    <meta charset="UTF-8">
    <meta name="author" content="Xebia IT Architects"/>
    <meta name="reply-to" content="marketing@xebia.com"/>
    <meta name="owner" content="Xebia IT Architects"/>
    <!-- TODO remplir la meta description et keywords-->
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="content-language" content="en"/>
    <meta name="robots" content="follow,index,all"/>

    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link href="http://fonts.googleapis.com/css?family=Oxygen:400,700,300" rel="stylesheet" type="text/css"/>
    <link href="styles/main.min.css" rel="stylesheet"/>

</head>
<body>

<div class="wrapper {{page.classBody}}">
    <header>

        <div class="company">

            {{ content }}
            <div class="header-decoration">
                <div class="alliance-logo"><span>ALLIANCE XEBIA</span></div>
                <div class="prev-page-wrapper">
                    <button class="prev-page"><span>&lt;</span></button>
                </div>
                <div class="knowing-more">
                    <span>En savoir <span class="emphasized">plus</span></span>
                </div>
                <div class="page-indicators">
                    <span class="page-indicator-xebia"></span>
                    <span class="page-indicator-ux"></span>
                    <span class="page-indicator-labs"></span>
                    <span class="page-indicator-thiga"></span>
                </div>
                <div class="next-page-wrapper">
                    <button class="next-page"><span>&gt;</span></button>
                </div>
            </div>
        </div>

        <div class="frise">
            <span><a class="xebia" href="http://www.xebia.fr"><span>Xebia</span></a></span>
            <span><a class="ux" href="http://ux-republic.com"><span>UX Republic</span></a></span>
            <span><a class="labs" href="http://www.xebialabs.com/"><span>Xebia Labs</span></a></span>
            <span><a class="thiga" href="http://www.thiga.com/"><span>Thiga</span></a></span>
        </div>
    </header>
    <section class="content" id="blockContent">
        <div class="block collaborators-count-block">
                <div class="collaborators-count">400</div>
                <div class="collaborators-description">Collaborateurs dans le monde</div>
        </div>

    </section>
</div>

<script src="scripts/jquery-2.0.3.min.js"></script>
<script src="scripts/lodash-2.3.0.min.js"></script>
<script src="scripts/isotope-1.5.25.min.js"></script>
<script src="scripts/main.min.js"></script>
<script>
    $(function () {
        APPLICATION.init('{{page.classBody}}');
    })
</script>
</body>
</html>