@import 'mixins.less';

.block {
  opacity: 0;
  display: none;
  vertical-align: top;
  height: 310px;
  margin: 10px;

  .box-shadow(0 4px 7px rgba(0, 0, 0, 0.3));
  min-width: 150px;
}

.standard-block {
  background-color: white;

  .content-block {
    position: relative;
  }

  .bottom-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 15px solid white;
    position: absolute;
    left: 10%;

  }

  .title-block {
    height: 20px;
    margin: 5px;
    padding: 5px;

    &.xebia-title {
      background-color: #702965;
      color: white;
      font-family: 'Oxygen', sans-serif;
      text-transform: uppercase;
      .clearFloat();

      time {
        float: right;
        text-transform: none;
      }
    }
  }

  h1, h2 {
    margin: 2px 5px;
    font-family: 'Oxygen', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
  }

  h1 {
    text-transform: uppercase;
    margin-top: 20px;
    min-height: 60px;
    font-weight: 100;

  }
  h2 {
    font-size: 1.3em;
  }

  .illustration {
    display: block;
    margin: 0 auto;
    &.big-illustration {
      @media (max-width: 500px) {
        width: 400px;
      }
      @media (max-width: 400px) {
        width: 300px;
      }
    }
  }
}

.collaborators-count-block {

  background-color: #1C7975;
  color: white;
  font-family: 'Oxygen', sans-serif;
  text-align: center;

  width: 215px;

  @collaboratorHeight: 240px;
  .collaborators-count {
    height: @collaboratorHeight;
    font-size: 6em;
    line-height: @collaboratorHeight;
  }

  .collaborators-description {
    font-size: 1.3em;
    text-transform: uppercase;
  }
}

.djerba-block {
  h1 {
    min-height: 41px;
  }
  img {
    height: 212px;
  }
}

.eventbrite-block {

  h1 {
    min-height: 133px;
  }
  img {
    height:120px;
  }
}
