@import 'mixins.less';

@xebiaBlockColor: #702965;
@thigaBlockColor: #30D7CE;
@labsBlockColor: #408A29;
@labsBackgroundColor: #DDDCDA;

@blockHeight: 330px;
@titleHeight: 20px;
.block {
  overflow: hidden;
  opacity: 0;
  display: none;
  vertical-align: top;
  height: @blockHeight;
  margin: 8px;
  cursor: move;

  .box-shadow(0 4px 7px rgba(0, 0, 0, 0.3));
  min-width: 150px;
}

.standard-block {
  background-color: white;

  .content-block {
    position: relative;
  }

  .bottom-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 15px solid white;
    position: absolute;
    left: 10%;

  }

  .title-block {
    height: @titleHeight;
    margin: 5px;
    padding: 5px;
    color: white;

    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    .clearFloat();

    time {
      float: right;
      text-transform: none;
    }

    &.xebia-title {
      background-color: @xebiaBlockColor;
    }

    &.thiga-title {
      background-color: @thigaBlockColor;
    }

    &.labs-title {
      background-color: @labsBlockColor;
    }
  }

  h1 {
    margin: 2px 5px;
    font-family: 'Oxygen', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 21px;
      text-transform: uppercase;
    margin-top: 20px;
    min-height: 60px;
    font-weight: 100;

  }

  .illustration {
    display: block;
    margin: 0 auto;
    &.big-illustration {
      @media (max-width: 500px) {
        width: 400px;
      }
      @media (max-width: 400px) {
        width: 300px;
      }
    }
  }
}

.collaborators-count-block {

  background-color: #1C7975;
  color: white;
  font-family: 'Oxygen', sans-serif;
  text-align: center;

  width: 215px;

  @collaboratorHeight: 240px;
  .collaborators-count {
    height: @collaboratorHeight;
    font-size: 95px;
    line-height: @collaboratorHeight;
  }

  .collaborators-description {
    font-size: 16px;
    text-transform: uppercase;
  }
}

.djerba-block {
  h1 {
    min-height: 61px;
  }
  img {
    height: 212px;
  }
}

.eventbrite-block {

  h1 {
    min-height: 153px;
  }
  img {
    height: 120px;
  }
}

.interview-luc-block {
  width: 510px;

  @paddingContent: 15px;
  img {
    padding: 0 (@paddingContent - 10px);
  }

  .content-block {
    background: url("../images/blocks/img_photo_Luc.jpg") no-repeat bottom right;
    height: @blockHeight - @titleHeight - 20px;
    blockquote {

      margin: 0;
      padding: 0 @paddingContent;
      font-family: 'Oxygen', sans-serif;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 9pt;
      width: 345px;

      p {
        margin: 10px 0;
        strong {
          font-weight: bold;
        }
      }

      .main {
        margin-top: 0;
        color: @xebiaBlockColor;
        font-size: 12pt;
        font-weight: bold;
      }

      cite {
        color: #C1A4C1;
        font-weight: 100;
        font-size: 9pt;
      }
    }
  }

  @media (max-width: 550px) {

    width: inherit;
    height: auto;
    .content-block {
      background: none;
      height: inherit;
      blockquote {
        width: inherit;
      }
    }
  }
}

.thiga-associe-block {
  width: 233px;
  .content-block {

    h1 {
      text-align: center;
      margin-right: 4px;
      margin-left: 4px;
      font-size: 17px;
      font-weight: bold;
      min-height: 20px;
      margin-top: 10px;

    }

    h2 {
      text-transform: uppercase;
      margin-right: 4px;
      margin-left: 4px;
      font-weight: 100;
      font-size: 17px;
      margin-bottom: 9px;
      font-family: 'Oxygen', sans-serif;
    }
  }
}

.deployit-client-block {
  .content-block {
    background-color: @labsBackgroundColor;
    min-height: 100%;
    h1 {
      margin-top: 10px;
      min-height: 30px;
      font-weight: bold;
      text-align: center;
      padding-top: 5px;
    }

    .logo-deployit {
      margin-left: 25px;
    }
  }
}