@import 'mixins.less';
@import 'vars.less';

@labsTopHeaderColor: #BAD6E2;
@labsBottomHeaderColor: #F2F2F2;

@labsBackColor: #E0E0E0;
@labsButtonColor: #E0E9EE;

.headers > div.labs-header {
  left: 2 * @minWidth;
}

.wrapper.labs {
  background-color: @labsBackColor;

  .page-indicator-labs {
    background-color: white;
  }

  .prev-page, .next-page {
    background-color: @labsButtonColor;
  }

  .headers {
    left: -2 * @minWidth;
  }

  .frise {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.labs-header {
  .gradient(@labsTopHeaderColor, @labsBottomHeaderColor);
}

.labs-header-logo {
  position: absolute;
  top:90px;
  left:(@minWidth - 514px)/2
}

