@import 'mixins.less';
@import 'vars.less';

@labsBackColor: #E0E0E0;

@labsColor: #046586;
@labsEmphasizedFontColor: #046586;

.headers > div.labs-header {
  left: 200%;
}

.wrapper.labs {

  .general-navigation .page-indicator-labs {
    background-color: white;
  }

  .headers {
    left: -200%;

    & > div.labs-header {
      display: block;

    }
  }

  .knowing-more .emphasized {
    color: @labsEmphasizedFontColor
  }

  .content {
    background-color: @labsBackColor;
  }
}

.labs-header {
  background: #e9e9e9 url('../images/labs/img_Header_Xebialabs.png') no-repeat;
  text-align: center;
}

.labs-header-logo {
  margin-top: 90px;
  @media(max-width: 500px) {
    display: none;
  }
}

.labs-description {
  color: @labsColor;

  margin-right: auto;
  margin-left: auto;

  text-align: center;

  @media(max-width: 620px) {
    display: none;
  }

  h1 {
    font-weight: bold;
  }
  h2 {
    font-weight: lighter;
  }
}
