.gradient(@start, @stop) {
  background-color: @start;
  background: -webkit-linear-gradient(top, @start, @stop);
  background: -moz-linear-gradient(top, @start, @stop);
  background: -ms-linear-gradient(top, @start, @stop);
  background: -o-linear-gradient(top, @start, @stop);
  background: linear-gradient(top, @start, @stop);
}
