@import 'mixins.less';
@import 'vars.less';


@thigaBackColor: #B2F0EF;
@thigaEmphasizedFontColor: #19D8CE;

.headers > div.thiga-header {
  left: 300%;
}

.wrapper.thiga {

  .general-navigation .page-indicator-thiga {
    background-color: white;
  }

  .headers {
    left: -300%;

    & > div.thiga-header {
      display: block;
    }
  }

  .knowing-more .emphasized {
    color: @thigaEmphasizedFontColor
  }

  .content, .white-line-label {
    background-color: @thigaBackColor;
  }
}

.thiga-header {
  background-color: @thigaHeaderColor;
  text-align: center;
}

.thiga-header-logo {
  margin-top: 90px;
}

.thiga-description {
  text-align: center;
  max-width: 620px;
  margin-right: auto;
  margin-left: auto;

  h1 {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: lighter;
  }
}