@import 'mixins.less';
@import 'vars.less';

@uxHeaderColor: #9B8D70;

@uxBackColor: #BCBCBC;
@uxButtonColor: #ACAA9B;
@uxEmphasizedFontColor: #000000;

.headers > div.ux-header {
  left: @minWidth;
}

.wrapper.ux {
  background-color: @uxBackColor;

  .page-indicator-ux {
    background-color: white;
  }

  .headers {
    left: -@minWidth;
  }

  .knowing-more .emphasized {
    color: @uxEmphasizedFontColor
  }

  .content {
    background-color: @uxBackColor;
  }
}

.ux-header {
  background-color: @uxHeaderColor;
  background-image: url('../images/ux/img_header_ux-republic.png');
}

.ux-header-logo {
  opacity: 0.7;
  position: absolute;
  top: 110px;
  left: 270px;
}

.ux-description {
  position: absolute;
  left: 460px;
  top: 130px;
  color: white;
  text-transform: uppercase;
  width: 370px;

  .top-description {
    font-size: 2.1em;
    font-family: 'Open Sans', sans-serif;
  }

  .rock-n-roll {
    font-size: 2em;
    font-family: 'Oxygen', sans-serif;
    font-weight: bolder;
    .colorRgba(255, 255, 255, 0.75);
  }
}
