@import 'mixins.less';
@import 'vars.less';

@uxHeaderColor: #9B8D70;

@uxBackColor: #BCBCBC;
@uxButtonColor: #ACAA9B;

.headers > div.ux-header {
  left: @minWidth;
}

.wrapper.ux {
  background-color: @uxBackColor;

  .page-indicator-ux {
    background-color: white;
  }

  .prev-page, .next-page {
    background-color: @uxButtonColor;
  }

  .headers {
    left: -@minWidth;
  }

  .frise {
    background-color: rgba(0, 0, 0, 0.5);
  }

}

.ux-header {
  background-color: @uxHeaderColor;
  background-image:url('../images/ux-background.jpg');
}
