
@headerTotalHeight: 482px;
@friseHeight: 60px;
@navigationButtonRadius: 20px;

@maxWidth: 1024px;

@knowMoreFontColor: #4e5454;



@xebiaEmphasizedFontColor: #5D0065; /* used in Xebia + footer */

@mobileModeMaxWidth:700px;

@xebiaTopHeaderColor: #5c016A;
@xebiaBottomHeaderColor: #820a94;

@thigaHeaderColor: #19D8CE;

@mobileTopHeight:100px;

@blockHeight: 330px;
@titleHeight: 20px;

@xebiaBlockColor: #702965;
@thigaBlockColor: #30D7CE;
@labsBlockColor: #408A29;
@uxBlockColor: #2E2E2E;
@labsBackgroundColor: #DDDCDA;