@import 'mixins.less';
@import 'vars.less';

@xebiaTopHeaderColor: #5c016A;
@xebiaBottomHeaderColor: #820a94;
@xebiaBackColor: #b39ab8;
@xebiaButtonColor: #9850A6;


.wrapper.xebia {
  background-color: @xebiaBackColor;


  .prev-page, .next-page {
    background-color: @xebiaButtonColor;
  }

  .page-indicator-xebia {
    background-color: white;
  }
}

.xebia-header {
  .gradient(@xebiaTopHeaderColor, @xebiaBottomHeaderColor);

  .hello-laptop {
    position: absolute;
    top: 80px;
    left: 115px;
  }

  .xebia-description {
    position: absolute;
    top: 65px;
    left: 615px;
    color: white;
    border-top: 1px solid white;
    width: 305px;
    text-align: center;

    h1, h2 {
      text-transform: uppercase;
      text-align: justify;
      padding: 0;
      margin: 0;
    }

    h1 {
      font: 2.25em 'UbuntuRegular', Arial, sans-serif;
      margin-top: 10px;
    }
    h2 {
      font: 1.4em 'UbuntuRegular', Arial, sans-serif;
    }

    .sub-description {
      margin-top: 10px;

      border-bottom: 1px solid white;
      position: relative;

      .line-left, .line-right {
        position: absolute;
        top: 0.7em;
        border-top: 1px solid white;
      }

      .line-left {
        left: 0;
        right: 73%;
      }
      .line-right {
        right: 0;
        left: 73%;
      }

      .delivers {
        text-transform: uppercase;
        width: 40%;
        display: inline-block;
        font: 1.4em 'UbuntuLight', Arial, sans-serif;
      }

      .custom-made {
        margin-top: 10px;
        background-color: white;
        color: @xebiaTopHeaderColor;
        font: 2em 'UbuntuItalic', Arial, sans-serif;
        height: 45px;
        line-height: 45px;
      }

      .software {
        margin-top: 10px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font: 0.96em 'UbuntuRegular', Arial, sans-serif;
      }
    }
  }
}
