@import 'mixins.less';
@import 'vars.less';

@xebiaTopHeaderColor: #5c016A;
@xebiaBottomHeaderColor: #820a94;
@xebiaBackColor: #b39ab8;
@xebiaButtonColor: #9850A6;
@xebiaFontColor: #4e5454;
@xebiaEmphasizedFontColor: #5D0065;

.wrapper.xebia {
  background-color: @xebiaBackColor;

  .page-indicator-xebia {
    background-color: white;
  }

  .knowing-more .emphasized {
    color: @xebiaEmphasizedFontColor
  }
}

.xebia-header {
  .gradient(@xebiaTopHeaderColor, @xebiaBottomHeaderColor);

  .hello-laptop {
    position: absolute;
    top: 80px;
    left: 95px;
  }

  .xebia-description {
    position: absolute;
    top: 65px;
    left: 615px;
  }

}
